*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(galaxy.jpg);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    
}


.identificacion{
    height: auto;
    width: 100%;
    display: flex;
    background-color: black;
    align-items: center;
    font-size: xx-large;
}

#Fotoperfil{
    padding-left: 60px;
    width:9%;
    display: flex;
    min-width: 100px;
    min-height: 100px;
   
}
#NOMBRE{

    color: white;
    width: 91%;
    min-width: 20%;
    padding-left: 30px;

}

#perfil{

    border-radius: 100px;
    height: 100px;
    width: 100px;

}

.buttons{
margin-top: 140px;
/*min-width: 700 px;*/
display: flex;
justify-content: space-around;
align-items: center;
}

.buttons a{

    text-decoration: none;
    font-size: 40px;
    width: 200px;
    height: 200px;
    line-height: 60px;
    text-align: center;
    color: white;
    border-radius: 100%;
    align-content: center;
    font-family:'Times New Roman', Times, serif ;    
    padding-top: 40px;
    color: transparent;
}
#planeta1{
    background-image: url(sobremi.jpg);
    width: 200px;
    height: 200px;
    margin-left: 30px;
    margin-right: 100px;
    align-items: center;
    padding: 50px;
    position: relative;
    
}

#planeta1:hover{
background:#F36A0C ;
box-shadow: 0 0 50px #F36A0C, 0 0 200px #F29A15,0 0 400px #F0A818;
color: whitesmoke;

}


#planeta2{
    background-image: url(estudios.jpg);
    width: 140px;
    height: 140px;
    margin-right: 130px;
}

#planeta2:hover{
    background:#B3B3B3 ;
    box-shadow: 0 0 50px #B3B3B3, 0 0 200px #8E8E8E,0 0 400px #6C6C6C;
    color: #373737;
}

#planeta3{
    background-image: url(conocimiento.jpg);
    width: 160px;
    height: 160px;
    margin-right: 80px;
}

#planeta3:hover{
    background:#693E1B ;
    box-shadow: 0 0 50px #AA9270, 0 0 200px #693E1B,0 0 400px #2F405A;
    color: whitesmoke;
    font-size: 30px;
}

#planeta4{
    background-image: url(experiencia.jpg);
    width: 140px;
    height: 140px;
    margin-right: 130px;
}

#planeta4:hover{
    background:#20497D ;
    box-shadow: 0 0 50px #4D83B1, 0 0 200px #040814,0 0 400px #20497D;
    color: whitesmoke;
    font-size: 28px;
}
#planeta5{
    background-image: url(contact.jpg);
    width: 150px;
    height: 150px;
    margin-right: 150px;
}

#planeta5:hover{
    background:#D1834F ;
    box-shadow: 0 0 50px #AA9270, 0 0 200px #693E1B,0 0 400px #2F405A;
    color: whitesmoke;
    font-size: 30px;
}

.modalC{
   
    background-color: rgba(0, O, 0, 0.3);
    align-items: center;
    justify-content: center;
    pointer-events: none;
    opacity: 0;
    top: 0;
    left: 0;
    height: 100vh;
    display: none;
}


#cerrar{
    background-color:rgb(170, 42, 170);
    border: 0;
    border-radius: 5px;
    color: white;
    font-size: 14px;
    padding: 10px 25px;

}

.modal{
    background-color:rgb(61, 60, 60);
    width: 500PX;
    max-width:500px ;
    padding:10px 30px ;
    border-radius: 20px;
    text-align: center;
    position: absolute;
    left: 180px;
    top: 255px;
    font-size: 14px;
    color: white;
    
     
}
.modal2{
    background-color:rgb(61, 60, 60);
    width: 150PX;
    max-width:  width 250px;
    padding:10px 30px ;
    border-radius: 20px;
    text-align: center;
    position: absolute;
    left: 390px;
    top: 285px;
    font-size: 14px;
    color: white;
    
     
}

.modal3{
    background-color:rgb(61, 60, 60);
    width: 150PX;
    max-width:  width 250px;
    padding:10px 30px ;
    border-radius: 20px;
    text-align: center;
    position: absolute;
    left: 680px;
    top: 265px;
    font-size: 14px;
    color: white;
    
     
}

.modal4{
    background-color:rgb(61, 60, 60);
    width: 150PX;
    max-width:  width 250px;
    padding:10px 30px ;
    border-radius: 20px;
    text-align: center;
    position: absolute;
    left: 880px;
    top: 295px;
    font-size: 14px;
    color: white;
    
}

.modal5{
    background-color:rgb(61, 60, 60);
    width: 200PX;
    max-width:  width 250px;
    padding:10px 30px ;
    border-radius: 20px;
    text-align: center;
    position: absolute;
    left: 1140px;
    top: 295px;
    font-size: 14px;
    color: white;
    
}
.modal h1{
    font-size:20px;
    
}
